<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="<%= current_page.data.description || "Product Designer" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="<%= current_page.data.description %>">
    <meta name="google-site-verification" content="5-cWdmww2N-LK3ROBEAjBa_vwaLScRvXtbF2pQlNl6I" />

    <!-- Facebook -->
    <meta property="og:image" content="http://markomasnjak.com/linked-images/profile.png">
    <meta property="og:type" content="website">
  	<meta property="og:image:type" content="image/jpeg">
  	<meta property="og:image:width" content="800">
  	<meta property="og:image:height" content="320">
  	<meta property="og:title" content="<%= current_page.data.title || "Marko Masnjak" %>">
  	<meta property="og:description" content="<%= current_page.data.description || "Product Designer" %>">
  	<meta property="og:url" content="http://markomasnjak.com">
  	<meta property="fb:app_id" content="187215658317507">

    <title><%= current_page.data.title || "Marko Masnjak - Product Designer" %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/linked-images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/linked-images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/linked-images/favicon-16x16.png">
    <link rel="manifest" href="/linked-images/manifest.json">
    <link rel="mask-icon" href="/linked-images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <% if build? %>
      <%= inline_css 'main' %>
    <% else %>
      <link rel="stylesheet" href="/lib/css/main.css" />
    <% end %>
  </head>

  <body class="<%= page_classes %> layout">
    <main>
      <nav>
        <img class="logo" src="/lib/images/logo.svg" width="40" height="40" alt="Marko Masnjak" />
      </nav>

      <%= yield %>
    </main>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous" defer>
    </script>

    <script type="text/javascript" src="/lib/js/twitter.js" defer></script>
    <script type="text/javascript" src="/lib/js/dribbble.js" defer></script>
    <script type="text/javascript" src="/lib/js/main.js" defer></script>

    <% if build? %>
      <%= partial "google-analytics" %>
    <% end %>
  </body>
</html>
