<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="<%= current_page.data.description || "Product Designer" %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="<%= current_page.data.description %>">
    <meta name="google-site-verification" content="5-cWdmww2N-LK3ROBEAjBa_vwaLScRvXtbF2pQlNl6I" />
    
    <!-- Facebook -->
    <meta property="og:image" content="http://markomasnjak.com/fb-graph/profile.png">
  	<meta property="og:image:type" content="image/jpeg">
  	<meta property="og:image:width" content="800">
  	<meta property="og:image:height" content="320">
  	<meta property="og:title" content="<%= current_page.data.title || "Marko Masnjak" %>">
  	<meta property="og:description" content="<%= current_page.data.description || "Product Designer" %>">
  	<meta property="og:url" content="http://markomasnjak.com">
  	<meta property="fb:app_id" content="187215658317507">
    
    <title><%= current_page.data.title || "Marko Masnjak - Product Designer" %></title>
    
    <link rel="apple-touch-icon" href="/lib/images/touch-icons/touch-icon-iphone.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/lib/images/touch-icons/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/lib/images/touch-icons/touch-icon-iphone@2x.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/lib/images/touch-icons/touch-icon-ipad@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="stylesheet" href="/lib/css/main.css" />
    
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    
    <script 
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous" defer>
    </script>
    
    <script type="text/javascript" src="/lib/js/twitter.js" defer></script>
    <script type="text/javascript" src="/lib/js/main.js" defer></script>
    
    <% if build? %>
      <%= partial "google-analytics" %>
    <% end %>
  </body>
</html>
